---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kubevirt-community-stack
  namespace: flux-system
spec:
  interval: 1h
  url: https://cloudymax.github.io/kubevirt-community-stack/
